<div>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/directives"
       routerLinkActive="active">Directives</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/observable"
       routerLinkActive="active">Observables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/template-form"
       routerLinkActive="active">Template Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/reactive-form"
       routerLinkActive="active">Reactive Form</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLink="/server"
       routerLinkActive="active">HTTP</a>
  </li>
</div><hr>
<div>
  <router-outlet></router-outlet>
</div>


